.about__wrapper {
  display: flex;
  justify-content: space-between;
}

.about__image-container {
  width: 600px;
  height: 596px;
  background-image: url(../images/about-image.jpg);
}

.about__content {
  width: 500px;
}

.about__block-description {
  margin-bottom: 48px;
  font-size: 20px;
  line-height: 28px;
}

.about__description {
  margin-bottom: 30px;
}

.about__blockquote {
  position: relative;
  margin-bottom: 40px;
  padding-left: 33px;
  width: 455px;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
}

.about__blockquote:before {
  position: absolute;
  left: 0;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/quotes.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.about__blockquote:after {
  position: absolute;
  content: "";
  right: 63px;
  width: 20px;
  height: 20px;
  background-image: url("../images/quotes.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.author {
  display: flex;
  padding-left: 111px;
  gap: 30px;
}

.author__caption {
  font-size: 20px;
  line-height: 28px;
}
