.hero-hall {
	padding-top: 60px;
}

.hero-hall__inner {
	margin-bottom: 20px;
}

.hero-hall__link {
	font-weight: 700;
	font-size: 22px;
	line-height: 1.27;
}

.hero-hall__link:before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 15px;
	margin-right: 10px;
	background-image: url("../img/arrow-left.svg");
	transition: color 0.3s ease-in-out;
}

.hero-hall__link:hover,
.hero-hall__link:focus-visible {
	color: var(--violet, #cd06ff);
}

.hero-hall__link:active {
	color: var(--blue-violet, #840aa3);
}

.hero-hall__wrapper {
	display: flex;
	max-height: 750px;
	height: 52.1vw;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-hall__wrapper--80s-vibes {
	background-image: url("../img/banner-80’s-vibes.jpg");
	background-position: 0 80%;
}

.hero-hall__wrapper--star-wars {
	background-image: url("../img/banner-star-wars.jpg");
	background-position: 0 0;
}

.hero-hall__wrapper--wild-west {
	background-image: url("../img/banner-wild-west.jpg");
}

.hero-hall__wrapper--neon-style {
	background-image: url("../img/banner-neon-style.jpg");
}

.hero-hall__title {
	font-weight: 700;
	font-size: 90px;
	text-align: center;
	text-transform: uppercase;
}

.promo-hall__description {
	padding: 0 90px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.5;
	text-align: center;
}

.features-hall__wrapper {
	display: flex;
	/* height: 424px; */
	justify-content: space-between;
	gap: 40px;
}

.features-hall__banner {
	min-width: 600px;
	height: 424px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.features-hall__banner--80s-vibes {
	background-image: url("../img/features-80’s-vibes.jpg");
}

.features-hall__banner--star-wars {
	background-image: url("../img/features-star-wars.jpg");
}

.features-hall__banner--wild-west {
	background-image: url("../img/features-wild-west.jpg");
}

.features-hall__banner--neon-style {
	background-image: url("../img/features-neon-style.jpg");
}

.features-hall__description {
	display: flex;
	flex-direction: column;
	max-width: 500px;

	align-self: start;
	font-size: 20px;
	line-height: 1.4;
}

.features-hall__text {
	margin-bottom: 15px;
	padding-top: 135px;
}

.rooms-hall {
	padding-bottom: 100px;
}

.rooms-hall__list {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.rooms-hall__item {
	width: 100%;
	height: 229px;
}

.rooms-hall__link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-weight: 700;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
}

.rooms-hall__link--wild-west {
	background-image: url("../img/wild-west-room.png");
}

.rooms-hall__link--star-wars {
	background-image: url("../img/star-wars-room.png");
}

.rooms-hall__link--neon-style {
	background-image: url("../img/neon-style-room.png");
}

.rooms-hall__link--80s-vibes {
	background-image: url("../img/80’s-vibes-room.png");
}

.footer-all-hall {
	padding-top: 32px;
	padding-left: 13px;
}

.social {
	padding-top: 2px;
}

@media (max-width: 1024px) {
	.hero-hall {
		padding-top: 50px;
	}

	.promo-hall__description {
		padding: 0 5%;
		font-size: 20px;
	}

	.features-hall__wrapper {
		gap: 30px;
	}

	.features-hall__banner {
		min-width: 461px;
		height: 326px;
	}

	.features-hall__description {
		font-size: 18px;
		line-height: 1.56;
	}

	.features-hall__text {
		margin-bottom: 13px;
		padding-top: 89px;
	}

	.rooms-hall {
		padding-bottom: 70px;
	}

	.rooms-hall__item {
		height: 172px;
	}

	.rooms-hall__link {
		font-weight: 700;
		font-size: 30px;
		line-height: 1.2;
	}

	.footer__title {
		margin-bottom: 21px;
	}

	.footer-all-hall {
		padding-top: 12px;
		padding-left: 0;
		padding-right: 0;
	}

	.social {
		gap: 26px;
		padding-top: 1px;
	}

	.social__link {
		padding-left: 0;
	}

	
	
}

@media (max-width: 880px) {
	.features-hall__banner {
		min-width: 53%;
		width: 53%;
	}
}

@media (max-width: 768px) {

	

	.hero-hall {
		padding-top: 40px;
	}

	.hero-hall__link {
		font-size: 16px;
		line-height: 1.75;
	}

	.hero-hall__link:before {
		margin-bottom: -1px;
	}

	.hero-hall__title {
		font-size: 60px;
	}

	.promo-hall__description {
		padding: 0 15px;
		font-size: 16px;
	}

	.features-hall__wrapper {
		gap: 46px;
	}

	.features-hall__banner {
		min-width: 329px;
		width: 329px;
		height: 326px;
	}

	.features-hall__description {
		display: flex;
		flex-direction: column;
		gap: 27px;
		max-width: 313px;
		align-self: center;
		font-size: 16px;
		line-height: 1.75;
	}

	.rooms-hall__list {
		gap: 20px;
	}

	.rooms-hall__item {
		height: 134px;
	}

	.rooms-hall__link {
		background-position: -4px 1px;
		font-size: 20px;
	}
}

@media (max-width: 700px) {
	.features-hall__wrapper {
		gap: 20px;
	}

	.features-hall__banner {
		min-width: 48%;
		width: 48%;
	}
}

@media (max-width: 630px) {
	.features-hall__wrapper {
		flex-direction: column;
	}

	.features-hall__banner {
		width: 100%;
		min-width: 280px;
		height: 56.3vw;
	}

	.features-hall__description {
		max-width: 100%;
		align-self: start;
	}

	.rooms-hall__list {
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}

	.rooms-hall__item {
		max-width: 350px;
		max-height: 200px;
		height: 44vw;
	}

	.rooms-hall__link {
		background-position: 1px 53%;
	}
}

@media (max-width: 420px) {
	.hero-hall {
		padding-top: 20px;
	}

	.hero-hall__inner {
		margin-bottom: 15px;
	}

	.hero-hall__link {
		font-size: 12px;
		line-height: 1.33;
	}

	.hero-hall__link:before {
		width: 16px;
		height: 8px;
		margin-right: 6px;
		margin-bottom: 0;
		background-image: url("../img/arrow-left-mobile.svg");
	}

	.hero-hall__title {
		font-size: 30px;
	}

	.promo-hall__description {
		padding: 0 9px;
	}

	.features-hall__wrapper {
		gap: 15px;
	}

	.features-hall__description {
		gap: 19px;

		font-size: 12px;
		line-height: 1.33;
	}

	.rooms-hall__list {
		gap: 5px;
	}

	/* .rooms-hall__item {
			height: 134px;
		} */

	/* .rooms-hall__link {
			background-position: -4px 1px;
			font-size: 20px;
		} */
}
