.arrow-link {
	position: absolute;
	left: 45.5%;
	bottom: 10.9%;
	margin: 0 auto;
	margin-left: 2px;
	color: transparent;
	z-index: 1;
	transition: all 0.2s ease-in-out;
}

.arrow-link__circle {
	stroke: var(--white, #fff);
}

.arrow-link__rect {
	color: var(--white, #fff);
}

.arrow-link:hover {
	color: inherit;
}

.arrow-link:hover .arrow-link__rect {
	color: var(--medium-violet, #6c0287);
}

.arrow-link:focus-visible {
	outline: 1px solid var(--violet, #cd06ff);
}

.arrow-link:active {
	color: var(--violet, #cd06ff);
}

.arrow-link:active .arrow-link__rect {
	color: var(--white, #fff);
}

.arrow-link:active .arrow-link__circle {
	stroke: var(--violet, #cd06ff);
}

@media (max-width: 1024px) {
	.arrow-link {
		left: 46%;
		bottom: 7.8%;
		width: 67px;
		height: 67px;
	}
}

@media (max-width: 768px) {
	.arrow-link {
		display: none;
	}
}
