.arrow-link {
	position: absolute;
	top: 686px;
	left: 49.5%;
	z-index: 1;
	height: 97px;
	color: transparent;
	transform: translateX(-50%);
	transition: all 0.2s ease-in-out;
}

.arrow-link__rect {
	color: var(--white, #fff);
}

.arrow-link__circle {
	stroke: var(--white, #fff);
}

.arrow-link:hover {
	color: inherit;
}

.arrow-link:hover .arrow-link__rect {
	color: var(--medium-violet, #6c0287);
}

.arrow-link:focus {
	outline: 1px solid var(--violet, #cd06ff);
}

.arrow-link:active {
	color: var(--violet, #cd06ff);
}

.arrow-link:active .arrow-link__rect {
	color: var(--white, #fff);
}

.arrow-link:active .arrow-link__circle {
	stroke: var(--violet, #cd06ff);
}


@media (max-width: 1024px) {
	.arrow-link {
		width: 67px;
		height: 67px;
		top: 470px;
		left: 50%;
		height: 97px;
		transform: translateX(-50%);
	}
}

@media (max-width: 768px) {
	.arrow-link {
		display: none;
	}
}