.contacts {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 145px;
}

.contacts__box {
	display: flex;
	flex-direction: column;
	gap: 39px;
}

.contacts__address {
	display: flex;
	align-items: center;
	gap: 28px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
}

.contacts__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contacts__item {
	display: flex;
}

.contacts__link {
	display: flex;
	align-items: center;
	gap: 24px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	transition: color 0.3s ease-in-out;
}

.contacts__icon {
	color: var(--violet, #cd06ff);
	transition: inherit;
}

.contacts__data {
	transition: inherit;
}

.contacts__link:hover > .contacts__data,
.contacts__link:focus > .contacts__data {
	color: var(--dark-violet, #640aa3);
}

.contacts__link:active > .contacts__data {
	color: var(--light, #eadeed);
}
