.contacts {
  padding-top: 55px;
  padding-bottom: 156px;
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__block {
  display: flex;
  flex-direction: column;
}

.contacts__address {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 38px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 35px;
}

.contacts__item {
  display: flex;
}

.link {
  display: flex;
  align-items: end;
  gap: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.contacts__social {
  display: flex;
  gap: 26px;
}

.social__link {
  display: block;
  line-height: 0;
}

.social__link:hover,
.social__link:focus {
  color: #eadeed;
}

.social__link:focus {
  outline: 1px solid #cd06ff;
}

.social__link:active {
  color: #cd06ff;
  outline-color: transparent;
}
