.contacts {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
	margin-bottom: 139px;
	padding-top: 6px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
}

.contacts__box {
	display: flex;
	flex-direction: column;
}

.contacts__address {
	display: flex;
	align-items: center;
	gap: 28px;
	margin-bottom: 40px;
}

.contacts__address-street {
	display: block;
}

.contacts__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 35px;
}

.contacts__link {
	display: flex;
	align-items: center;
}

.contacts__link-phone {
	gap: 28px;
}

.contacts__link-e-mail {
	gap: 24px;
	padding-left: 4px;
}

.contacts__icon {
	color: var(--violet, #cd06ff);
	transition: color 0.3s ease-in-out;
}

.contacts__interactive {
	transition: color 0.3s ease-in-out;
}

.contacts__number {
	display: inline-block;
	padding-top: 3px;
}

.contacts__text-e-mail {
	display: inline-block;
	padding-bottom: 4px;
}

.contacts__link:hover .contacts__interactive,
.contacts__link:focus .contacts__interactive {
	color: var(--dark-violet, #640aa3);
}

.contacts__link:active .contacts__interactive {
	color: var(--light, #eadeed);
}

@media (max-width: 1024px) {
	.contacts {
		margin-bottom: 92px;
	}

	.contacts__address {
		gap: 13px;
		margin-bottom: 47px;
		padding-left: 1px;
	}

	.contacts__list {
		gap: 8px;
		margin-bottom: 40px;
	}

	.contacts__link-phone {
		gap: 14px;
	}

	.contacts__number {
		word-spacing: -6.5px;
	}

	.contacts__text-phone {
		display: inline-block;
		padding-bottom: 4px;
	}

	.contacts__link-e-mail {
		gap: 13px;
		padding-left: 1px;
	}

	.contacts__text-e-mail {
		padding-bottom: 0;
	}

	.contacts__svg {
		width: 26px;
		height: 26px;
	}
}

@media (max-width: 890px) {
	.contacts {
		flex-direction: column;
		align-items: center;
		margin-bottom: 75px;
		padding-top: 0;
		gap: 30px;
	}

	.contacts__box {
		align-items: center;
	}

	.contacts__list {
		align-items: flex-start;
		margin-bottom: 28px;
		padding-right: 40px;
		gap: 29px;
	}

	.contacts__address {
		align-items: flex-start;
		margin-bottom: 33px;
		padding-left: 13px;
		gap: 0;
	}

	.contacts__address-city {
		display: inline-block;
		padding-top: 1px;
		padding-left: 11px;
	}

	.contacts__adress-street {
		margin-left: -41px;
		padding-left: 2px;
	}

	.contacts__link-phone {
		gap: 14.5px;
		padding-left: 35px;
	}

	.contacts__text-phone {
		padding-bottom: 2px;
	}
}

@media (max-width: 420px) {
	.contacts {
		gap: 35px;
		margin-bottom: 63px;
		font-size: 14px;
		line-height: 1.3;
	}

	.contacts__svg {
		width: 20px;
		height: 20px;
	}

	.contacts__address {
		margin-bottom: 9px;
		padding-left: 0;
	}

	.city {
		padding-left: 9px;
		padding-top: 3px;
	}

	.contacts__adress-street {
		margin-left: -23px;
	}

	.contacts__list {
		gap: 8px;
		margin-bottom: 10px;
		padding-right: 28px;
	}

	.contacts__link-phone {
		gap: 5px;
		padding-left: 23px;
	}
	.contacts__number {
		word-spacing: -4px;
	}
	
	.contacts__link-e-mail {
		gap: 6px;
	}

	.contacts__text-e-mail {
		padding-top: 1px;
	}
}
