.faq {
  padding-bottom: 45px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  background-color: #fff;
  color: #1c1a1a;
}

.faq__item--purple {
  background-color: #440f51;
  color: #fff;
}

.faq__description {
  font-weight: 700;
  font-size: 24px;
  color: inherit;
}
