.faq {
	padding-bottom: 45px;
}

.faq__title {
	margin-top: -1px;
}

.faq__list {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: (auto);
	gap: 20px;
	padding-top: 6px;
}

.faq__btn {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 30px 70px 29px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
  text-align: left;
	background-color: var(--white, #fff);
	color: var(--dark, #1c1a1a);
}

.faq__btn:after {
	position: absolute;
	content: "";
	right: 70px;
	display: block;
	width: 46px;
	height: 46px;
  background-repeat: no-repeat;

	transition: all 0.3s ease-in-out;
}

.faq__btn:after {
	background-image: url("../images/open-purple.svg");
}



.faq__btn:focus:after {
	background-image: url("../images/close-purple.svg");
}

@media (min-width: 421px) {
	.faq__btn:hover:after {
	background-image: url("../images/open-purple-hover.svg");
}
}

@media (min-width: 1025px) {
	.faq__item:nth-child(even) .faq__btn {
		background-color: var(--purple, #440f51);
		color: var(--white, #fff);
	}

	.faq__item:nth-child(even) .faq__btn:after {
		background-image: url("../images/open-white.svg");
	}

	.faq__item:nth-child(even):hover .faq__btn:after {
		background-image: url("../images/open-white-hover.svg");
	}

	.faq__item:nth-child(even) .faq__btn:focus:after {
		background-image: url("../images/close-white.svg");
	}
}

@media (max-width: 1024px) {
  .faq {
    padding-bottom: 58px;
  }

	.faq__title {
		margin-top: 0;
		margin-bottom: 26px;
	}

	.faq__list {
		grid-template-rows: repeat(4, 70px);
		gap: 16px;
		padding-top: 0;
	}

	.faq__item:last-child {
		display: none;
	}

	.faq__item-two {
		height: 69px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.faq__item-three {
		align-self: end;
		height: 69px;
	}

	.faq__item-four {
		height: 69px;
	}

	.faq__btn {
		padding: 30px 25px;
		font-size: 20px;
		line-height: 1.2;
	}

	.faq__btn:after {
    right: 20px;
		background-image: url("../images/open-purple-laptop.svg");
	}

	.faq__btn-two:after {
		top: 12px;
	}

  .faq__btn-two {
	
		padding-top: 4px;
		padding-bottom: 0;
	}

	.faq__btn-one

	{
		padding-left: 23px;
	}
}

@media (max-width: 768px) {
  .faq {
    padding-top: 25px;
    padding-bottom: 60px;
  }

	.faq__title {
		margin-bottom: 25px;
	}

	.faq__btn {
	padding-left: 59px;
		font-size: 18px;
		line-height: 1.33;
	}

  .faq__btn-one {
    padding-left: 54px;
  }

	.faq__btn:after {
		right: 65px;
	}

  .faq__btn-one:after {
		top: 12px;
	}
}

@media (max-width: 650px) {
	.faq__btn {
		padding-left: 10px;
    font-size: 18px;
		line-height: 1.33;
	}

	.faq__btn:after {
		right: 10px;
	}
}

@media (max-width: 550px) {
	.faq__btn {
		padding-right: 60px;
	}
}

@media (max-width: 420px) {
	.faq__title {
		margin-bottom: 15px;
	}

  .faq__list {
		grid-template-rows: repeat(4, 46px);
		gap: 10px;
		padding-top: 0;
	}

  .faq__item {
    height: 46px;
  }

	.faq__btn {

		padding: 5px 33px 5px 13px;
		font-size: 12px;
	}

  

	.faq__btn:after {
		right: 13px;
	}

	.faq__btn:after {
    top: 7px;
		width: 30px;
		height: 30px;
	}

	.faq__btn:after {
		background-image: url("../images/open-mobile.svg");
	}

	.faq__btn:focus:after {
	background-image: url("../images/close-purple-mobile.svg");
}
}
