.faq {
  padding-bottom: 45px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  background-color: #fff;
  color: #1c1a1a;
}

.faq__item--purple {
  background-color: #440f51;
  color: #fff;
}

.faq__description {
  font-weight: 700;
  font-size: 24px;
  color: inherit;
}

.faq__btn {
  fill: transparent;
}

.faq__btn--open .line {
  fill:#fff;
}

.faq__btn--open-purple .line {
  fill:#6C0287;
}

.faq__item:hover .faq__btn--open,
.faq__item:hover .faq__btn--open-purple .line {
  fill:#fff;
}

.faq__item:hover .faq__btn--open-purple,
.faq__item:hover .line {
  fill:#6C0287;
}

.faq__item:hover .faq__btn--open:active .line {
  fill: #fff;;
}

.faq__item:hover .faq__btn--open-purple:active .line {
  fill: #6C0287;;
}

.faq__item:hover .faq__btn:active,
.faq__item:hover .faq__btn:active .vertical {
  fill: transparent;
}
