.faq {
	padding-bottom: 45px;
}

.faq__title {
	margin-top: -1px;
}

.faq__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 6px;
}

.faq__item {
	background-color: var(--white, #fff);
}

.faq__btn {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 30px 70px 29px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	text-align: left;
	color: var(--dark, #1c1a1a);
}

.faq__text-wrapper {
	height: 0;
	background-color: transition;
	overflow: hidden;
	transition: height 0.4s ease-in-out;
}

.faq__item-active .faq__text-wrapper {
	height: auto;
}

.faq__text {
	padding: 57px 70px 100px 69px;
	color: var(--black);
	font-size: 24px;
	line-height: 28px;
}

.faq__text-span {
	font-weight: 700;
}

.faq__btn:after {
	position: absolute;
	content: "";
	right: 70px;
	display: block;
	width: 46px;
	height: 46px;
	background-repeat: no-repeat;
	transition: all 0.3s ease-in-out;
}

.faq__btn:after {
	background-image: url("../img/open-purple.svg");
}

@media (min-width: 1025px) {
	.faq__btn:hover:after {
		background-image: url("../img/open-purple-hover.svg");
	}
}

.faq__close-purple .faq__btn:after {
	background-image: url("../img/close.svg");
}

@media (min-width: 1025px) {
	.faq__close-white .faq__btn:after {
		background-image: url("../img/close-white.svg") !important;
	}
}

@media (min-width: 1025px) {
	.faq__item:nth-child(even) .faq__btn {
		background-color: var(--purple, #440f51);
		color: var(--white, #fff);
	}

	.faq__item:nth-child(even) .faq__btn:after {
		background-image: url("../img/open-white.svg");
	}

	.faq__item:nth-child(even):hover .faq__btn:after {
		background-image: url("../img/open-white-hover.svg");
	}
}

@media (max-width: 1024px) {
	.faq__close-white .faq__btn:after {
		background-image: url("../img/close.svg");
	}
	.faq {
		padding-bottom: 58px;
	}

	.faq__title {
		margin-top: 0;
		margin-bottom: 26px;
	}

	.faq__list {
		grid-template-rows: repeat(4, 70px);
		gap: 16px;
		padding-top: 0;
	}

	.faq__item:last-child {
		display: none;
	}

	.faq__item-two {
		height: 69px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.faq__item-three {
		align-self: end;
		height: 69px;
		padding-top: 0;
		padding-bottom: 1px;
	}

	.faq__item-four {
		height: 69px;
	}

	.faq__btn {
		padding: 30px 30px;
		font-size: 20px;
		line-height: 1.2;
	}

	.faq__btn:after {
		right: 20px;
		background-image: url("../img/open-purple-laptop.svg");
	}

	.faq__btn-two:after {
		top: 12px;
	}

	.faq__btn-two {
		padding-top: 4px;
		padding-bottom: 0;
	}

	.faq__btn-one {
		padding-left: 25px;
	}
}

@media (max-width: 768px) {
	.faq {
		padding-top: 25px;
		padding-bottom: 60px;
	}

	.faq__title {
		margin-bottom: 25px;
	}

	.faq__btn {
		padding-top: 32px;
		padding-left: 59px;
		font-size: 18px;
		line-height: 1.33;
	}

	.faq__btn-one {
		padding-left: 54px;
	}

	.faq__btn-two {
		padding-top: 3px;
	}

	.faq__btn:after {
		right: 65px;
	}

	.faq__btn-one:after {
		top: 12px;
	}

	.faq__btn-three:after {
		top: 11px;
	}

	.faq__btn-four:after {
		top: 11px;
	}
}

@media (max-width: 650px) {
	.faq__btn {
		padding-left: 10px;
		font-size: 18px;
		line-height: 1.33;
	}

	.faq__btn:after {
		right: 10px;
	}
}

@media (max-width: 550px) {
	.faq__btn {
		padding-right: 60px;
	}
}

@media (max-width: 420px) {
	.faq {
		padding-bottom: 23px;
	}

	.faq__title {
		margin-bottom: 15px;
	}

	.faq__list {
		grid-template-rows: repeat(4, 46px);
		gap: 10px;
		padding-top: 0;
	}

	.faq__item {
		height: 46px;
	}

	.faq__btn {
		padding: 9px 43px 7px 13px;
		font-size: 12px;
	}

	.faq__btn-one {
		padding-left: 10px;
	}

	.faq__btn-three {
		padding-top: 18px;
		padding-bottom: 15px;
	}

	.faq__btn-four {
		padding-top: 17px;
		padding-bottom: 15px;
	}

	.faq__btn:after {
		right: 13px;
	}

	.faq__btn:after {
		top: 7px;
		width: 30px;
		height: 30px;
	}

	.faq__btn:after {
		background-image: url("../img/open-mobile.svg");
	}

	.faq__close-purple .faq__btn:after,
	.faq__close-white .faq__btn:after {
		background-image: url("../img/close-purple-mobile.svg");
	}
}
