.features {

}

/* .features__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
}

.features__card {
  position: relative;
}

.features__description {
  position: absolute;
  left: 40px;
  top: 166px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.features__description--audio {
  max-width: 195px;
}

.features__item {
  transition: transform 0.4s ease-in-out;
}

.features__item--audio,
.features__item--cinema {
  transform: translateY(30%);
} */

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 228px);
  gap: 40px 20px;
}

.features__item {
  display: flex;
  align-items: end;
  padding-left: 40px;
}

.features__item-vr {
  padding-bottom: 34px;
  background-image: url("../images/vr.jpg");
}

.features__item-audio {
  padding-bottom: 6px;
  background-image: url("../images/audio.jpg");
}

.features__item-karaoke {
  padding-bottom: 20px;
  background-image: url("../images/karaoke.jpg");
}

.features__item-board-games {
  padding-bottom: 20px;
  background-image: url("../images/board-games.jpg");
}

.features__item-cinema {
  padding-bottom: 6px;
  background-image: url("../images/cinema.jpg");
}

.features__item-ps5{
  padding-bottom: 20px;
  background-image: url("../images/ps5.jpg");
}

.features__title {
font-weight: 700;
font-size: 20px;
line-height: 1.4;
}

@media (max-width: 1024px) {
  .features__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 172px);
    gap: 40px 20px;
  }

  .features__item {
    
    padding-left: 40px;
  }
  
  .features__item-vr {
    padding-bottom: 34px;
    background-image: url("../images/vr.jpg");
  }
  
  .features__item-audio {
    padding-bottom: 6px;
    background-image: url("../images/audio.jpg");
  }
  
  .features__item-karaoke {
    padding-bottom: 20px;
    background-image: url("../images/karaoke.jpg");
  }
  
  .features__item-board-games {
    padding-bottom: 20px;
    background-image: url("../images/board-games.jpg");
  }
  
  .features__item-cinema {
    padding-bottom: 6px;
    background-image: url("../images/cinema.jpg");
  }
  
  .features__item-ps5{
    padding-bottom: 20px;
    background-image: url("../images/ps5.jpg");
  }
  
  .features__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  }
}
