.footer {
  background-color: #370A37;
  padding-bottom: 10px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: start;

}

.footer__copyright {
  margin-bottom: 6px;
}

.footer__design:hover,
.footer__design:focus {
  color: #cd06ff;
}

.footer__design:active {
  color: #640aa3;
}
