.form__btn {
	position: relative;
	grid-area: button;
	align-self: end;
	max-width: 300px;
	height: 60px;
	padding: 17px 50px 15px;
	font-weight: 700;
	font-size: 22px;
	line-height: 0;
	text-transform: uppercase;
	background-color: var(--white, #fff);
	color: var(--medium-violet, #6c0287);
	border-radius: 10px;
	z-index: 1;
	transition: all 0.3s ease-in-out;
}

.form__btn:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: var(--white, #fff);
	border-radius: 10px;
	filter: blur(10px);
	z-index: -1;
	transition: all 0.3s ease-in-out;
}

.form__btn:hover,
.form__btn:hover:before,
.form__btn:focus-visible,
.form__btn:focus-visible:before {
	background-color: var(--light, #eadeed);
}

.form__btn:active,
.form__btn:active:before {
	background-color: var(--blue-violet, #840aa3);
	color: var(--white, #fff);
}


@media (max-width: 1024px) {
	.form__btn {
		height: 50px;
		padding: 13px 45px;
		font-size: 18px;
	}
}

@media (max-width: 810px) {
	.form__btn {
		height: 60px;
		padding: 17px 50px 15px;
		font-size: 22px;
	}
}

@media (max-width: 660px) {
	.form__btn {
		justify-self: center;
	}
}

@media (max-width: 420px) {
	.form__btn {
		border-radius: 4px;
		padding: 17px 58px;
		font-size: 18px;
	}

	.form__btn:before {
		border-radius: 4px;
		filter: blur(5px);
	}
}
