.form__halls {
	display: grid;
	grid-template-columns: repeat(4, minmax(auto, 250px));
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 60px;
	padding-top: 1px;
}

.form__cinema-hall {
	display: block;
	height: 55px;
	padding: 7px 15px;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--white, #fff);
	color: var(--black, #000);
	border: 3px solid var(--white, #fff);
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
}

.form__radio-button-cinema:checked + .form__cinema-hall {
	background-color: var(--medium-violet, #6c0287);
	color: var(--white, #fff);
	border-color: var(--white, #fff);
}

.form__cinema-hall:hover {
	background-color: var(--light, #eadeed);
	border-color: var(--dark-violet, #640aa3);
}

.form__radio-button-cinema:focus-visible + .form__cinema-hall {
	border-color: var(--dark-violet, #640aa3);
}

@media (max-width: 1070px) {
	.form__cinema-hall {
		font-size: 28px;
	}
}

@media (max-width: 1024px) {
	.form__halls {
		grid-template-columns: repeat(4, minmax(auto, 180px));
		padding-top: 0;
	}

	.form__cinema-hall {
		height: 44px;
		padding: 8px 19px;
		padding-right: 21px;
		font-size: 20px;
		border-radius: 6px;
	}
}

@media (max-width: 860px) {
	.form__cinema-hall {
		font-size: 18px;
		padding: 8px 10px;
	}
}

@media (max-width: 768px) {
	.form__halls {
		grid-template-columns: repeat(4, minmax(auto, 150px));
		margin-bottom: 50px;
	}

	.form__cinema-hall {
		height: 38px;
		padding: 8px 20px;
		font-size: 16px;
		border-radius: 6px;
	}
}

@media (max-width: 722px) {
	.form__halls {
		grid-template-columns: repeat(2, minmax(auto, 150px));
		justify-content: space-around;
	}
}

@media (max-width: 420px) {
	.form__halls {
		grid-template-columns: repeat(2, 130px);
		column-gap: 20px;
		row-gap: 14px;
		margin-bottom: 30px;
	}

	.form__cinema-hall {
		height: 30px;
		padding: 4px 16px 5px;
		font-size: 14px;
		border-radius: 4px;
	}
}
