html {
  scroll-behavior: smooth;
  position: relative;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing:border-box
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-weight: 400;
  background-color: var(--background, #1b1a1b);
  color: var(--white, #fff);
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  color: inherit;
  border: 0;
  cursor: pointer;
}

a {
  line-height: 0;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

blockquote {
  margin: 0;
}

address {
  font-style: normal;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input::placeholder {
  font-size: 18px;
  line-height: 28px;
  color: #211e1e;
}

.container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
}

section {
  padding: 50px 0;
}

.title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

