.header {
  --h: 288;
  --s: 100%;
  --l: 51%;
  padding-top: 30px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
  gap: 40px;
  align-self: center;
}

.navigation__link {
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  transition: color .3s ease-in-out;
}

.navigation__link:hover,
.navigation__link:focus {
  color: hsl(var(--h, 288), var(--s, 100%), var(--l, 51%));
}

.navigation__link:active {
  --l: 30%;
}

.navigation__btn {
  align-self: center;
  min-width: 280px;
  padding: 12px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid var(--violet, #cd05ff);
  border-radius: 10px;
  outline: none;
  transition: all .3s ease-in-out;
}

.navigation__btn:hover,
.navigation__btn:focus {
  background-color: var(--medium-violet, #6d0288);
  border: 1px solid transparent !important;
}

.navigation__btn:active {
  background-color: var(--dark-violet, #630aa3);
  border: 1px solid var(--black, #000);
}
