.header {
	padding-top: 30px;
}

.navigation {

	display: flex;
	justify-content: space-between;
}

@media (max-width: 1024px) {
	.navigation__logo-img {
		max-width: 87px;
		height: 55px;
	}
}

@media (max-width: 768px) {
	.header {
		padding-top: 32px;
	}
}

@media (max-width: 420px) {
	.header {
		padding-top: 20px;
	}

	.navigation__logo-img {
		max-width: 66px;
		height: 42px;
	}
}
