.menu {
	display: none;
	line-height: 0;
	outline: 0 solid var(--violet, #cd06ff);
	outline-offset: 2px;
	color: var(--medium-violet, #6c0287);
	transition: all 0.3s ease-in-out;
}

.menu:hover {
	color: var(--violet, #cd06ff);
}

.menu:focus-visible,
.menu:active {
	color: var(--blue-violet, #840aa3);
}

.menu:focus-visible {
	outline-width: 1px;
}

@media (max-width: 780px) {
	.menu {
		display: block;
		align-self: stretch;
		margin-top: 5px;
		order: -1;
	}
}

@media (max-width: 420px) {
	.menu {
		max-width: 39px;
		align-self: center;
		margin-top: 8px;
	}
}


