.overlay-modal {
  position: fixed;
  background-color: rgb(27, 26, 27, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.overlay-modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-form {
  position: absolute;
  left: 50%;
  top: 30%;
  padding: 60px 150px 80px;
  transform: translateX(-50%);
  background-color: var(--purple);
  z-index: 2;
  opacity: 0;
  transition-property: top, opacity;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

.overlay-modal.is-visible .modal-form {
  opacity: 1;
  top: 50px;
}

.modal-form__close {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
  line-height: 0;
  transition: transform 0.5s ease-in-out;
}

.modal-form__close:hover,
.modal-form__close:focus-visible {
  transform: rotate(90deg);
 
}

.modal-form__close:active {
  opacity: 0.5;
}

.modal-form__title {
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
}
.modal-form__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.form-label {
}

.modal-form__span {
  display: block;
  padding-bottom: 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}

.modal-form__input {
  width: 280px;
  height: 52px;
  padding: 13px 18px 11px;
  font-size: 18px;
  border: 0;
  outline: none;
}

.modal-form__input:focus {
  border: 2px solid var(--violet, #cd06ff);
}

.modal__btn-submit {
  position: relative;
  padding: 16px 54px 16px 50.9px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  color: var(--medium-violet);
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.modal__btn-submit:before {
  content: "";
  position: absolute;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  border-radius: 10px;
  filter: blur(20px);
  z-index: -10;
}
