.navigation {
	display: flex;
	justify-content: space-between;
}

.navigation__list {
	display: flex;
	align-self: center;
	gap: 40px;
}

.navigation__link {
	font-size: 22px;
	line-height: 2.27;
	text-transform: uppercase;
	/* outline: none; */
	transition: color 0.3s ease-in-out;
}

.navigation__link:hover {
	color: var(--violet, #cd06ff);
}

.navigation__link:focus-visible,
.navigation__link:active {
	color: var(--blue-violet, #840aa3);
}

@media (max-width: 1150px) {
	.navigation__list {
		gap: 20px;
	}
}

@media (max-width: 1024px) {
	.navigation__list {
		padding-bottom: 10px;
	}

	.navigation__link {
		font-size: 18px;
		line-height: 1.22;
	}
}

@media (max-width: 840px) {
	.navigation__list {
		gap: 10px;
	}
}

@media (max-width: 788px) {
	.navigation__list {
		display: none;
	}
}
