.navigation__call-order {
	width: 280px;
	min-height: 55px;
	align-self: center;
	/* margin-top: 4px; */
	padding: 13px 2px 12px 0;
	font-weight: 700;
	font-size: 22px;
	line-height: 0;
	text-transform: uppercase;
	color: #fff;
	border-width: 3px;
	border-radius: 10px;
}

@media (max-width: 1024px) {
	.navigation__call-order {
		max-width: 229px;
		min-height: 45px;
		margin-top: 1px;
		margin-right: 0;
		padding: 10px 0 11px;
		font-size: 18px;
		border-radius: 8px;
	}
}

@media (max-width: 768px) {
	.navigation__call-order {
		/* margin-top: 5px; */
		margin-right: 0;
	}
}

@media (max-width: 480px) {
	.navigation__call-order {
		display: none;
	}
}
