.our-halls {
  padding-bottom: 100px;
}

.our-halls__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.our-halls__item {
  display: flex;
  width: 580px;
  height: 349px;
}

.our-halls__item--vibes {
  background-image: url(../images/vibes.jpg);
}

.our-halls__item--star-wars {
  background-image: url(../images/star-wars.jpg);
}

.our-halls__item--wild-west {
  background-image: url(../images/wild-west.jpg);
}

.our-halls__item--neon-style {
  background-image: url(../images/neon-style.jpg);
}

.our-halls__cinema {
  max-width: 252px;
  margin: auto;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}
