.promo__title-first-line {
	padding-right: 10px;
}

.promo__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 229px 228px;
	grid-template-areas:
		"vr audio karaoke"
		"games cinema ps5";
	gap: 39px 20px;
	padding-top: 3px;
	padding-bottom: 69px;
}

.promo__item {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: end;
	padding-left: 40px;
	padding-bottom: 34px;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.5s ease-in-out;
}

.promo__item:hover:not(:nth-child(even)),
.promo__item:not(:nth-child(even)):hover + .promo__item {
	transform: translateY(70px);
}

.promo__item--vr {
	grid-area: vr;
	max-height: 228px;
	background-image: url("../images/vr.jpg");
}

.promo__item--audio {
	grid-area: audio;
	max-height: 228px;
	align-self: end;
	padding-bottom: 6px;
	background-image: url("../images/audio.jpg");
}

.promo__item--karaoke {
	grid-area: karaoke;
	max-height: 228px;
	padding-right: 20px;
	background-image: url("../images/karaoke.jpg");
}

.promo__item--board-games {
	grid-area: games;
	background-image: url("../images/board-games.jpg");
}

.promo__item--cinema {
	grid-area: cinema;
	padding-right: 40px;
	padding-bottom: 6px;
	background-image: url("../images/cinema.jpg");
}

.promo__item--ps5 {
	grid-area: ps5;
	background-image: url("../images/ps5.jpg");
}

.promo__description {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.4;
}

@media (max-width: 1190px) {
	.promo__item--vr,
	.promo__item--board-games,
	.promo__item--cinema {
		background-position: 60%;
	}
}

@media (max-width: 1024px) {
	.promo__title-first-line {
		padding-right: 9px;
	}

	.promo__list {
		grid-template-columns: 288px repeat(2, 287px);
		grid-template-rows: 173px 172px;
		gap: 29px 21px;
		padding-top: 0;
		padding-bottom: 53px;
	}

	.promo__item {
		padding: 0 20px 30px;
	}

	.promo__item:hover:not(:nth-child(even)),
	.promo__item:not(:nth-child(even)):hover + .promo__item {
		transform: translateY(53px);
	}

	.promo__item--vr {
		max-width: 287px;
		max-height: 172px;
		background-image: url("../images/vr-medium.jpg");
	}

	.promo__item--audio {
		padding-bottom: 2px;
		max-height: 172px;
		background-image: url("../images/audio-medium.jpg");
	}

	.promo__item--karaoke {
		max-height: 172px;
		background-image: url("../images/karaoke-medium.jpg");
	}

	.promo__item--board-games {
		max-width: 287px;
		background-image: url("../images/board-games-medium.jpg");
	}

	.promo__item--cinema {
		padding-bottom: 5px;
		background-image: url("../images/cinema-medium.jpg");
	}

	.promo__item--ps5 {
		padding-bottom: 5px;
		background-image: url("../images/ps5-medium.jpg");
	}
}

@media (max-width: 950px) {
	.promo__list {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 173px 172px;
		gap: 29px 21.5px;
	}
}

@media (max-width: 800px) {
	.promo__title-first-line {
		padding-right: 6px;
	}

	.promo__list {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 200px);
		gap: 20px;
		padding-bottom: 0;
		grid-template-areas:
			"vr audio"
			"karaoke games"
			"cinema ps5";
	}

	.promo__item {
		padding: 0 30px 40px;
	}

	.promo__item:hover:not(:nth-child(even)),
	.promo__item:not(:nth-child(even)):hover + .promo__item {
		transform: translateY(0);
	}

	.promo__item--vr {
		max-width: 100%;
		max-height: 100%;
		background-image: url("../images/vr-small.jpg");
	}

	.promo__item--audio {
		max-height: 100%;
		background-image: url("../images/audio-small.jpg");
	}

	.promo__item--karaoke {
		max-height: 100%;
		background-image: url("../images/karaoke-small.jpg");
	}

	.promo__item--board-games {
		max-width: 100%;
		background-image: url("../images/board-games-small.jpg");
	}

	.promo__item--cinema {
		grid-area: cinema;
		padding-right: 40px;
		padding-bottom: 6px;
		background-image: url("../images/cinema-small.jpg");
	}

	.promo__item--ps5 {
		grid-area: ps5;
		background-image: url("../images/ps5-small.jpg");
	}

	.promo__item--audio,
	.promo__item--cinema {
		padding-bottom: 12px;
	}
}

@media (max-width: 600px) {
	.promo__list {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 220px);
		grid-template-areas:
			"vr"
			"audio"
			"karaoke"
			"games"
			"cinema"
			"ps5";
		justify-items: center;
	}

	.promo__item {
		max-width: 400px;
	}
}

@media (max-width: 420px) {
	.promo__title-first-line {
		padding-right: 4px;
	}

	.promo__list {
		grid-template-columns: 135px 135px;
		grid-template-rows: repeat(3, 75px);
		justify-content: center;
		grid-template-areas:
			"vr audio"
			"karaoke games"
			"cinema ps5";
		gap: 10px;
	}

	.promo__item {
		padding-left: 10px;
		background-position: center;
	}

	.promo__item--vr {
		padding-bottom: 31px;
		background-image: url("../images/vr-mobile.jpg");
	}

	.promo__item--audio {
		padding-right: 10px;
		padding-bottom: 17px;
		background-image: url("../images/audio-mobile.jpg");
	}

	.promo__item--karaoke {
		padding-bottom: 17px;
		background-image: url("../images/karaoke-mobile.jpg");
	}

	.promo__item--board-games {
		padding-bottom: 31px;
		background-image: url("../images/board-games-mobile.jpg");
	}

	.promo__item--cinema {
		padding-right: 8px;
		padding-bottom: 3px;
		background-image: url("../images/cinema-mobile.jpg");
	}

	.promo__item--ps5 {
		padding-bottom: 31px;
		background-image: url("../images/ps5-mobile.jpg");
	}

	.promo__description {
		font-size: 10px;
	}
}
