.promo__title {
	padding-bottom: 3px;
}

.promo__title-first-line {
	padding-right: 10px;
}

.promo__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 228px);
	grid-template-areas:
		"vr audio karaoke"
		"games cinema ps5";
	gap: 40px 20px;
	padding-bottom: 70px;
}

.promo__item {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: end;
	padding-left: 40px;
	padding-bottom: 34px;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.5s ease-in-out;
}

.promo__item:hover:not(:nth-child(even)),
.promo__item:not(:nth-child(even)):hover + .promo__item {
	transform: translateY(70px);
}

.promo__item--vr {
	grid-area: vr;
	background-image: url("../images/vr.jpg");
}

.promo__item--audio {
	grid-area: audio;
	padding-bottom: 6px;
	background-image: url("../images/audio.jpg");
}

.promo__item--karaoke {
	grid-area: karaoke;
	padding-right: 20px;
	background-image: url("../images/karaoke.jpg");
}

.promo__item--board-games {
	grid-area: games;
	background-image: url("../images/board-games.jpg");
}

.promo__item--cinema {
	grid-area: cinema;
	padding-right: 40px;
	padding-bottom: 6px;
	background-image: url("../images/cinema.jpg");
}

.promo__item--ps5 {
	grid-area: ps5;
	background-image: url("../images/ps5.jpg");
}

.promo__description {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.4;
}

@media (max-width: 1190px) {
	.promo__item--vr,
	.promo__item--board-games,
	.promo__item--cinema {
		background-position: 60%;
	}
}

@media (max-width: 1024px) {
	.promo__title {
		padding-bottom: 0;
	}

	.promo__title-first-line {
		padding-right: 9px;
	}

	.promo__list {
		grid-template-rows: repeat(2, 172px);
		gap: 30px 21.5px;
		padding-bottom: 53px;
	}

	.promo__item {
		padding: 0 20px 30px;
	}

	.promo__item:hover:not(:nth-child(even)),
	.promo__item:not(:nth-child(even)):hover + .promo__item {
		transform: translateY(53px);
	}

	.promo__item--audio {
		padding-bottom: 2px;
	}

	.promo__item--cinema {
		padding-bottom: 5px;
	}
}

@media (max-width: 800px) {

	.promo__title-first-line {
		padding-right: 6px;
	}

	.promo__list {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 200px);
		gap: 20px;
		grid-template-areas:
			"vr audio"
			"karaoke games"
			"cinema ps5";
	}

	.promo__item {
		padding: 0 30px 40px;
	}

	.promo__item:hover:not(:nth-child(even)),
	.promo__item:not(:nth-child(even)):hover + .promo__item {
		transform: translateY(0);
	}

	.promo__item--audio,
	.promo__item--cinema {
		padding-bottom: 12px;
	}
}

/* @media (max-width: 600px) {
	.promo__item--audio,
	.promo__item--karaoke,
	.promo__item--ps5 {
		background-position: 50%;
	}
} */

/* @media (max-width: 500px) {
	.promo__list {
		gap: 10px;
	}

	.promo__item {
		padding-right: 10px;
		padding-left: 10px;
	}
} */

@media (max-width: 600px) {
	.promo__list {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 220px);
		grid-template-areas:
			"vr"
			"audio"
			"karaoke"
			"games"
			"cinema"
			"ps5";
			justify-items: center;
	}

	.promo__item {
		max-width: 400px;
	}
}

@media (max-width: 420px) {
	.promo__list {
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows: repeat(3, 75px);
		grid-template-areas:
			"vr audio"
			"karaoke games"
			"cinema ps5";
	}

	.promo__item--vr {
		padding-bottom: 31px;
		
	}

	.features__item--audio {
		padding-bottom: 17px;
		/* background-image: url("../images/audio-mobile.jpg"); */
	}

	.features__item--karaoke {
		padding-bottom: 17px;
		/* background-image: url("../images/karaoke-mobile.jpg"); */
	}

	.features__item-board--games {
		padding-bottom: 31px;
		/* background-image: url("../images/board-games-mobile.jpg"); */
	}

	.features__item--cinema {
		padding-right: 8px;
		padding-bottom: 3px;
		/* background-image: url("../images/cinema-mobile.jpg"); */
	}

	.features__item--ps5 {
		padding-bottom: 31px;
		/* background-image: url("../images/ps5-mobile.jpg"); */
	}

	.promo__description {
		font-size: 10px;
	}
}
