.reservation {
  padding: 80px 0;
  background-color: #440f51;
}

.form__legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.form__legend--title {
  margin-bottom: 40px;
}

.form__hall {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.form__radio-button-cinema {
  align-items: center;
  min-width: 250px;
  min-height: 55px;
  padding: 7px 15px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  border: 3px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}

.form__radio-button-cinema:hover,
.visually-hidden:focus + .form__radio-button-cinema {
  border-color: #640aa3;
}

.form__radio-button-cinema:hover {
  background-color: #eadeed;
}

.visually-hidden:focus + .form__radio-button-cinema {
  outline: none;
}

.visually-hidden:active + .form__radio-button-cinema,
.visually-hidden:checked + .form__radio-button-cinema {
  background-color: #6c0287;
  color: #fff;
  border-color: #fff;
}

.form__box {
  padding: 0 100px;
}

.form__entertainment-set {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.form__input-wrapper-games {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__legend--subtitle {
  margin-bottom: 24px;
}

.form__legend--text-aligne--left {
  text-align: left;
}

.form__label {
  display: flex;
  padding-top: 2px;
  padding-left: 37px;
  font-size: 22px;
  line-height: 25px;
}

.form__label--ellipse {
  padding-left: 39px;
}

.form__input-entertainment {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__input-entertainment--radio-button:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  background-image: url(../images/substrate.svg);
}

.form__input-entertainment:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
}

.form__input-entertainment:focus {
  outline: none;
}

.form__input-entertainment--radio-button:after {
  background-image: url(../images/rectangle.svg);
  border-radius: 50%;
}

.form__input-entertainment--checkbox:after {
  background-image: url(../images/rectangle.svg);
}

.form__input-entertainment--checkbox:focus:after,
.form__input-entertainment--checkbox:checked:after,
.form__input-entertainment--radio-button:focus:before,
.form__input-entertainment--radio-button:checked:before {
  outline: 1px solid #cd06ff;
  outline-offset: 3px;
}


.form__client-data {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  row-gap: 14px;
  margin-bottom: 40px;
}

.form__date-time {
  display: flex;
  width: 300px;
  gap: 32px;
}

.form__input {
  display: block;
  height: 52px;
  padding: 18px 20px;
}

.form__input:focus {
  outline: none;
  border: 2px solid #cd06ff;
}

.form__input-date {
  width: 134px;
}

.form__description-client-data {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}

.form__input-value {
  width: 300px;
}

.form__input-name {
  width: 280px;
}

.form__btn {
  display: block;
  margin-left: auto;
  padding: 16px 50px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  background: #fff;
  color: #6c0287;
  border: 3px solid transparent;
  border-radius: 10px;
}

.form__btn:hover,
.form__btn:focus {
  border-color: #6c0287;
}

.form__btn:focus {
  outline: none;
}

.form__btn:hover,
.form__btn:active {
  background-color: #eadeed;
}

.form__btn:active {
  border-color: transparent;
}
