.reservation {
  padding: 80px 0;
  background-color: var(--purple,  #450f51);
}

.form__legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
}

.form__legend-title {
  margin-bottom: 40px;
}

.form__halls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.form__label-hall {
  user-select: none;
  cursor: pointer;
}

.form__description-cinema {
  align-items: start;
  min-width: 250px;
  min-height: 55px;
  padding: 7px 15px;
  font-weight: 700;
  font-size: 30px;
  /* line-height: 1.33; */
  text-align: center;
  text-transform: uppercase;
  background-color: var(--white, #fff);
  color: var(--black, #000);
  border: 3px solid var(--white, #fff);
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.form__radio-button-cinema {
  appearance: none;
  position: absolute;
}

.form__radio-button-cinema:checked + .form__description-cinema {
  background-color: var(--medium-violet, #6c0287);
  color: var(--white, #fff);
  border-color: var(--white, #fff);
}

.form__description-cinema:hover {
  background-color: var(--light, #eadeed);
  border-color: var(--dark-violet, #640aa3);
}

.form__radio-button-cinema:focus-visible + .form__description-cinema {
  border-color: var(--dark-violet, #640aa3);
}

/* .form__radio-button-cinema:hover,
.visually-hidden:focus + .form__radio-button-cinema {
  border-color: var(--dark-violet, #630aa3);
}

.form__radio-button-cinema:hover {
  background-color: var(--light, hsl(288, 29%, 90%));
}

.form__radio-button-cinema:active,
.visually-hidden:checked + .form__radio-button-cinema {
  background-color: var(--medium-violet, #6d0288);
  color: var(--white, hsl(0, 0%, 100%));
  border-color: var(--white, hsl(0, 0%, 100%));
} */

.form__box {
  padding: 0 100px;
}

.form__entertainment-set {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.form__input-wrapper-games {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__legend--subtitle {
  margin-bottom: 24px;
}

.form__legend--text-aligne--left {
  text-align: left;
}

.form__label {
  display: flex;
  padding-top: 2px;
  padding-left: 37px;
  font-size: 22px;
  line-height: 25px;
}

.form__label--ellipse {
  padding-left: 39px;
}

.form__input-entertainment {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__input-entertainment--radio-button:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  background-image: url(../images/substrate.svg);
  transition: outline .2s ease-in-out;
}

.form__input-entertainment:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
}

.form__input-entertainment--radio-button:after {
  background-image: url(../images/rectangle.svg);
  border-radius: 50%;
}

.form__input-entertainment--checkbox:after {
  background-image: url(../images/rectangle.svg);
  transition: outline .3s ease-in-out;
}

.form__input-entertainment--checkbox:focus:after,
.form__input-entertainment--checkbox:checked:after,
.form__input-entertainment--radio-button:focus:before,
.form__input-entertainment--radio-button:checked:before {
  outline: 1px solid var(--violet, hsl(288, 100%, 51%));
  outline-offset: 3px;
}


.form__client-data {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  row-gap: 14px;
  margin-bottom: 40px;
}

.form__date-time {
  display: flex;
  width: 300px;
  gap: 32px;
}

.form__input {
  display: block;
  height: 52px;
  padding: 18px 20px;
  transition: border .3s ease-in-out;
}

.form__input:focus {
  outline: none;
  border: 2px solid var(--violet, hsl(288, 100%, 51%));

}

.form__input-date {
  width: 134px;
}

.form__description-client-data {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}

.form__input-value {
  width: 300px;
}

.form__input-name {
  width: 280px;
}

.form__btn {
  display: block;
  margin-left: auto;
  padding: 16px 50px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  background: var(--white, hsl(0, 0%, 100%));
  color: var(--medium-violet, hsl(288, 97%, 27%));
  border: 3px solid transparent;
  border-radius: 10px;
  outline: none;
  transition: background-color 3s cubic-bezier(.07,.5,.05,.9), border-color 1s cubic-bezier(.07,.5,.05,.9);
}

.form__btn:hover,
.form__btn:focus {
  border-color: var(--medium-violet, hsl(288, 97%, 27%));
}

.form__btn:hover,
.form__btn:active {
  background-color: var(--light, hsl(288, 29%, 90%));
}

.form__btn:active {
  border-color: transparent;
}
