.form {
	padding-top: 6px;
}

.reservation__wrapper {
	background-color: var(--purple, #440f51);
	padding: 80px 0;
}

.form__legend {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	text-align: center;
}

.form__legend-title {
	margin-bottom: 39px;
}

.form__legend-title-client-data {
	margin-bottom: 38px;
}

.form__legend-subtitle {
	margin-bottom: 23px;
	text-align: left;
}

.form__legend-subtitle-board-games {
	margin-bottom: 24px;
}

.form__label {
	position: relative;
	user-select: none;
	cursor: pointer;
}

.form__radio-button-cinema,
.form__input-entertainment {
	position: absolute;
	width: 0;
	height: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.form__box {
	max-width: 980px;
	margin: 0 auto;
}

@media (max-width: 1024px) {
	.form {
		padding-top: 5px;
	}

	.reservation__wrapper {
		padding: 60px 0;
	}

	.form__legend-title {
		margin-bottom: 26px;
	}
}

@media (max-width: 768px) {
	.form {
		padding-top: 12px;
	}

	.reservation__wrapper {
		padding: 50px 0;
	}

	.form__legend-title {
		margin-bottom: 30px;
	}

	.form__legend-subtitle-console {
		margin-bottom: 24px;
	}
}

@media (max-width: 420px) {
	.form {
		padding-top: 0;
	}

	.reservation__wrapper {
		padding: 30px 0;
	}

	.reservation__title {
		margin-bottom: 13px;
		font-size: 14px;
		line-height: 1.43;
	}

	.form__legend {
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 1.29;
	}

	.form-title-client-data {
		margin-bottom: 25px;
	}
}
