.reviews__list {
	display: flex;
	flex-direction: column;
	gap: 50px;
	padding: 0 100px;
}

.reviews__wrapper {
	display: grid;
	grid-template-columns: 280px 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"img  review"
		"name review";
	column-gap: 20px;
	row-gap: 11px;
}

.reviews__img {
	position: relative;
	grid-area: img;
	max-height: 280px;
}

.reviews__img::before {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: var(
		--reviews-gradient,
		radial-gradient(50% 50% at 50% 50%, #c4c4c400 0%, #6c028780 100%)
	);
	border-radius: 50%;
}

.reviews__visitor-name {
	grid-area: name;
	font-size: 20px;
	line-height: 1.44;
	text-align: center;
}

.reviews__visitor-review {
	grid-area: review;
	padding-top: 52px;
	font-size: 20px;
	line-height: 1.44;
}

@media (max-width: 1024px) {
	.reviews__list {
		gap: 40px;
		padding: 0 77px;
	}

	.reviews__wrapper {
		grid-template-columns: 224px 1fr;
		column-gap: 12px;
		row-gap: 21px;
	}

	.reviews__img {
		max-width: 172px;
		max-height: 172px;
		justify-self: center;
	}

	.reviews__visitor-name {
		font-size: 18px;
	}

	.reviews__visitor-review {
		padding-top: 7.8%;
		font-size: 18px;
	}
}

@media (max-width: 847px) {
	.reviews__visitor-review {
		padding-top: 1%;
	}
}

@media (max-width: 768px) {
	.reviews__title {
		margin-bottom: 31px;
	}

	.reviews__list {
		gap: 30px;
		padding: 0 63px;
	}

	.reviews__wrapper {
		grid-template-columns: 153px 1fr;
		column-gap: 15px;
		row-gap: 17px;
	}

	.reviews__img {
		max-width: 153px;
		max-height: 153px;
	}

	.reviews__visitor-name {
		font-size: 14px;
		line-height: 1.43;
	}

	.reviews__visitor-review {
		padding-top: 9%;
		font-size: 16px;
		line-height: 1.38;
	}
}

@media (max-width: 612px) {
	.reviews__list {
		padding: 0px;
	}
}

@media (max-width: 446px) {
	.reviews__visitor-review {
		padding-top: 0;
	}
}

@media (max-width: 400px) {
	.reviews__wrapper {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"img"
			"name"
			"review";
		gap: 9px;
	}

	.reviews__visitor-name {
		margin-bottom: 7px;
	}
}

@media (max-width: 350px) {
	.reviews__title {
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 1.29;
	}

	.reviews__list {
		gap: 20px;
	}

	.reviews__img {
		max-width: 86px;
		max-height: 86px;
	}

	.reviews__visitor-name {
		margin-bottom: 7px;
		font-size: 14px;
		line-height: 1.43;
	}

	.reviews__visitor-review {
		font-size: 12px;
		line-height: 1.33;
	}
}
