.reviews__title {
  margin-bottom: 40px;
}

.reviews__item {
  display: flow-root;
}

.reviews__item:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__box {
  float: left;
  margin-right: 20px;
}

.reviews__img {
  margin-bottom: 11px;
}

.reviews__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.reviews__description {
  padding-top: 52px;
  width: 970px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
