.reviews__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.reviews__item {
  display: flex;
  gap: 20px;
}

.reviews__img {
  margin-bottom: 11px;
}

.reviews__name {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.reviews__description {
  padding-top: 52px;
  width: 680px;
  font-size: 20px;
  line-height: 28px;
}
