@import url(normalize.css);
@import url(fonts.css);
@import url(var.css);
@import url(global.css);
@import url(header.css);
@import url(navigation-list.css);
@import url(menu.css);
@import url(call-order-btn.css);
@import url(hero.css);
@import url(info.css);
@import url(promo.css);
@import url(reservation-link.css);
@import url(arrow-link.css);
@import url(features.css);
@import url(reservation.css);
@import url(form__halls.css);
@import url(form__entertainment-set.css);
@import url(form__client-data.css);
@import url(form__btn.css);
@import url(about.css);
@import url(reviews.css);
@import url(faq.css);
@import url(footer.css);
@import url(contacts.css);
@import url(social.css);
/* @import url(all-halls.css); */

