:root {
	--white: #fff;
	--light: #eadeed;
	--violet: #cd06ff;
	--blue-violet: #840aa3;
	--medium-violet: #6c0287;
	--dark-violet: #640aa3;
	--purple: #440f51;
	--footer: #370a37;
	--additional-text: #211e1e;
	--dark: #1c1a1a;
	--background: #1b1a1b;
	--black: #000;
	--reviews-gradient: radial-gradient(50% 50% at 50% 50%, #c4c4c400 0%, #6c028780 100%);
	--footer-gradient: linear-gradient(180deg, var(--background, #1b1a1b) 0%, var(--footer, #370a37) 100%);
}
