:root {
  --white: #fff;
  --additional-text: #201d1d;
  --light: #eadeed;
  --background: #1b1a1b;
  --violet: #cd06ff;
  --blue-violet: #840aa3;
  --medium-violet:#6c0287;
  --purple:#440f51;
  /* --purple: #440f51; */
  --dark-violet: #640aa3;
  --black: #000000;
  --dark: #1c1a1a;
  --footer: #380a38;
  --reviews-gradient: radial-gradient(50% 50% at 50% 50%, #c4c4c400 0%, #6d028880 100%);
  --contacts-gradient: linear-gradient(180deg, #1a191a 0%, #380a38 100%);
}
